<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.him.woll.singleservershiro.mapper.ChatMsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.him.woll.singleservershiro.entity.ChatMsg">
        <id column="id" property="id" />
        <result column="sender" property="sender" />
        <result column="receiver" property="receiver" />
        <result column="msg" property="msg" />
        <result column="sign_flag" property="signFlag" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
    </resultMap>
    <select id="history" resultType="com.him.woll.singleservershiro.entity.ChatMsg">
        select * from chat_msg where sender = #{sender} and receiver = ${receiver}
        union all select * from chat_msg where sender = #{receiver} and receiver = ${sender}
    </select>

</mapper>
