<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.him.woll.singleservershiro.mapper.ImGroupUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.him.woll.singleservershiro.entity.ImGroupUser">
        <id column="igu_id" property="iguId" />
        <result column="revision" property="revision" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="groud_id" property="groudId" />
        <result column="user_id" property="userId" />
        <result column="admin" property="admin" />
        <result column="state" property="state" />
    </resultMap>

</mapper>
